/*Variabes*/

$color-maim: #0d6efd;

/*Global*/

i {
    font-size: 100px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

.btn {
    margin: 10px;
}

body {
    background-image: url("https://i.postimg.cc/JzFPxL0z/6214e42eee47d.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/*Name*/

.name {
background: rgba(13, 110, 253, 0.5);
filter: alpha(opacity=50);
color: white;
font-family: 'Press Start 2P', cursive;
}

/*Buttons*/

.game {
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 2rem;
}

/*Result*/

.result {
    background: rgba(13, 110, 253, 0.5);
    filter: alpha(opacity=50);
    color: white;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    line-height: 70px;
}