/*Global*/

i {
    font-size: 100px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

.btn {
    margin: 10px;
}

/*Name*/

.name {
background-color: #0d6efd;
color: white;
font-family: 'Press Start 2P', cursive;
}

/*Buttons*/

.buttons {
    color: #0d6efd;
    font-family: 'Press Start 2P', cursive;
}

/*Result*/

.result {
    background-color: #0d6efd;
    color: white;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    line-height: 70px;
}