/*Variabes*/

$color-maim: rgba(13, 110, 253, 0.5);
$color-hover: rgba(217, 232, 255, 0.5);

/*Global*/

i {
    font-size: 100px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

h2 {
    padding-bottom: 30px;
}

.btn {
    margin: 10px;
}

body {
    background-image: url("https://i.postimg.cc/JzFPxL0z/6214e42eee47d.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/*Name*/

.name {
background: $color-maim;
color: white;
font-family: 'Press Start 2P', cursive;
}

/*Buttons*/

.game {
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 2rem;
}

.button {
    color: white;
    background: $color-maim;
    border: none;
    &:hover {
        background-color: $color-hover;
    }
}

/*Result*/

.result {
    background: $color-maim;
    color: white;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    line-height: 70px;
}